# Dependencies
node_modules
.pnpm-store

# Build output
.next
out

# IDE
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Env files
.env*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
